<div class="main-content">
  	<div class="container-fluid">
      	<div class="row">
      		<div class="col-lg-3 col-md-6 col-sm-6">
              	<div class="card card-stats">
                  	<div class="card-header card-header-danger card-header-icon">
                      	<div class="card-icon">
                          	<i class="material-icons">visibility</i>
                      	</div>
                      	<p class="card-category">Visitas</p>
                      	<h3 class="card-title">{{visitas}}</h3>
                  	</div>
                  	<div class="card-footer">
                      	<div class="stats">
                          	<i class="material-icons">local_offer</i> Total de visitas
                      	</div>
                  	</div>
              	</div>
          	</div>
          	<div class="col-lg-3 col-md-6 col-sm-6">
              	<div class="card card-stats">
                  	<div class="card-header card-header-danger card-header-icon">
                      	<div class="card-icon">
                          	<i class="material-icons">attach_money</i>
                      	</div>
                      	<p class="card-category">Ganancias en el mes</p>
                      	<h3 class="card-title">{{gmensual}}</h3>
                  	</div>
                  	<div class="card-footer">
                      	<div class="stats">
                          	<i class="material-icons">update</i> Ultima actualizacion
                      	</div>
                      	<div class="stats text-right">{{fvdiarias}}</div>
                  	</div>
              	</div>
          	</div>
          	<div class="col-lg-3 col-md-6 col-sm-6">
              	<div class="card card-stats">
                  	<div class="card-header card-header-danger card-header-icon">
                      	<div class="card-icon">
                          	<i class="material-icons">visibility</i>
                      	</div>
                      	<p class="card-category">Visitas en el día</p>
                      	<h3 class="card-title">{{vdiarias}}</h3>
                  	</div>
                  	<div class="card-footer">
                      	<div class="stats">
                          	<i class="material-icons">update</i> Ultima actualizacion
                      	</div>
                      	<div class="stats text-right">{{fvdiarias}}</div>
                  	</div>
              	</div>
          	</div>
          	<div class="col-lg-3 col-md-6 col-sm-6">
              	<div class="card card-stats">
                  	<div class="card-header card-header-danger card-header-icon">
                      	<div class="card-icon">
                          	<i class="material-icons">attach_money</i>
                      	</div>
                      	<p class="card-category">Ganancias en el día</p>
                      	<h3 class="card-title">{{gdiarias}}</h3>
                  	</div>
                  	<div class="card-footer">
                      	<div class="stats">
                          	<i class="material-icons">update</i> Ultima actualizacion
                      	</div>
                      	<div class="stats text-right">{{fvdiarias}}</div>
                  	</div>
              	</div>
          	</div>
          	<div class="col-md-12">
              	<div class="card card-chart">
                  	<div class="card-header card-header-danger">
                      	<div class="ct-chart" id="completedTasksChart"></div>
                  	</div>
                  	<div class="card-body">
                      	<h4 class="card-title">Visitas</h4>
                      	<p class="card-category">Todas las visitas por días en el mes</p>
                  	</div>
                  	<div class="card-footer">
                      	<div class="stats">
                          	<i class="material-icons">access_time</i> Ultima actualización
                      	</div>
                      	<div class="stats text-right">{{fvdiarias}}</div>
                  	</div>
              	</div>
          	</div>

            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="gananciasChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Ganancias</h4>
                        <p class="card-category">Todas las ganancias por días en el mes</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Ultima actualización
                        </div>
                        <div class="stats text-right">{{fvdiarias}}</div>
                    </div>
                </div>
            </div>
      	</div>
  	</div>
</div>