<div class="main-content" id="foco">
  	<div class="container-fluid">
  		<div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Url</h4>
                <p class="card-category">Estadísticas generales de la url compartida</p>
            </div>
            <div class="card-body">
                <div class="row col-md-12 text-left">
                    <div class="col-md-12 text-danger">Url: </div>
                    <div class="col-md-12 mb-3"><i class="zmdi zmdi-pin"></i> {{url.url_real}}</div>
                    <div class="col-md-12 text-danger">Url acortada: </div>
                    <div class="col-md-3 mb-3"><i class="zmdi zmdi-link"></i> {{url_acortada}}</div>
                    <div class="col-md-9"><a title="Copiar url" data-toggle="tooltip" (click)="Copiar()" [routerLink]=""><mat-icon matSuffix>file_copy</mat-icon></a></div>
                    <div class="col-md-12 text-danger">Fecha Acortada: </div>
                    <div class="col-md-12 mb-3"><i class="zmdi zmdi-calendar"></i> {{url.fecha | date:'MM/dd/yyyy hh:mm' }}</div>
                    <div class="col-md-12 text-danger">Visitas: </div>
                    <div class="col-md-12 mb-3"><i class="zmdi zmdi-chart"></i> {{url.visitas}}</div>
                    <div class="col-md-12 text-danger">Ganancia Total: </div>
                    <div class="col-md-12 mb-3"><i class="zmdi zmdi-money"></i> {{gtotal}}</div>
                </div>
            </div>
        </div>
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="gananciasChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Ganancias</h4>
                    <p class="card-category">Todas las ganancias por días en el mes</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Ultima actualización
                    </div>
                    <div class="stats text-right">{{fgdiarias}}</div>
                </div>
            </div>
    </div>
</div>