.user {
  border-radius: 2px;
  position: relative;
  margin-top: -20px;
}
.user .dropdown-menu {
    width: 100%;
    margin-top: 0;
    -webkit-transform: none !important;
            transform: none !important; }
.user .dropdown-menu .active .nav-link {
    color: #ffffff;
}
.user .dropdown-menu .active .nav-link:hover {
    color: #555555;
}
.user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.8rem;
  border-radius: 2px;
  border-bottom: 1px #ddd solid;
  transition: background-color 300ms; }
.user__info:hover {
    background-color: rgba(0, 0, 0, 0.04); }
.user__img {
  width: 2.38rem;
  height: 2.38rem;
  border-radius: 50%;
  margin-right: 0.8rem; }