<div class="logo">
    <a href="https://curiositylol.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo.png"/>
        </div>
        Curiositylol
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="user">
            <a class="user__info" [routerLink]="" (click)="showFiller = !showFiller">
                <img class="user__img" src="{{foto}}" alt="">
                <p>{{nombre}}</p>
                <div *ngIf="showFiller" class="nav dropdown-menu">
                    <li routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/perfil']">
                            <i class="material-icons">account_box</i>
                            <p>Perfil</p>
                        </a>
                    </li>
                        <a class="nav-link" [routerLink]="" (click)="logout();">
                            <i class="material-icons">power_off</i>
                            <p>Cerrar</p>
                        </a>
                </div>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/estadisticas']">
                <i class="material-icons">dashboard</i>
                <p>Estadisticas</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/usuarios']">
                <i class="material-icons">people</i>
                <p>Usuarios</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/urls']">
                <i class="material-icons">http</i>
                <p>Urls</p>
            </a>
        </li>
        <li class="active-pro nav-item">
            <a class="nav-link" [routerLink]="" (click)="logout();" style="border-top: 1px #ddd solid;border-bottom: 1px #ddd solid;">
                <i class="material-icons">power_off</i>
                <p>Cerrar</p>
            </a>
        </li>
    </ul>
</div>
