<div class="main-content" id="foco">
  	<div class="container-fluid">
  		<div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Usuario</h4>
                <p class="card-category">Datos para crear o modificar el usuario</p>
            </div>
            <div class="card-body">
                <form [formGroup]="userForm">
                    <div class="row">
                        <div class="col-md-5">
                            <mat-form-field>
                                <input matInput placeholder="Nombre y Apellidos" id="nombre_apellidos" formControlName="nombre_apellidos">
                                <mat-icon matSuffix>account_box</mat-icon>
                                <mat-error *ngIf="f.nombre_apellidos.hasError('required')">Por favor, escriba el nombre y los apellidos</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="Correo" id="correo" formControlName="correo">
                                <mat-icon matSuffix>contact_mail</mat-icon>
                                <mat-error *ngIf="f.correo.hasError('required')">Por favor, escriba correo</mat-error>
                                <mat-error *ngIf="f.correo.hasError('email')">Correo invalido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Perfil de Facebook" id="perfil_fb" formControlName="perfil_fb">
                                <mat-icon matSuffix>face</mat-icon>
                                <mat-error *ngIf="f.perfil_fb.hasError('required')">Por favor, escriba el perfil de facebook</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="Contraseña" id="password" formControlName="password" [type]="hide ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="f.password.hasError('required')">Por favor, escriba la contraseña</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Seleccione..." id="rol" formControlName="rol">
                                    <mat-option value="Administrador">Administrador</mat-option>
                                    <mat-option value="Moderador">Moderador</mat-option>
                                    <mat-option value="Usuarios">Usuarios</mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.rol.hasError('required')">Por favor, escoja el rol</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="foto">Foto</label>
                            <div class="dropzone" id="photo">
                                <div class="dz-message" id="message" data-dz-message><span>Arrastre la imagen aqui</span></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Activo</label>
                            <div class="form-group">
                                <mat-slide-toggle [checked]="true" id="activo" formControlName="activo"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right btn-addp" (click)="Registrar();">Registrar</button>
                    <div class="clearfix"></div>
                    <mat-chip-list>
                    </mat-chip-list>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-sm" id="data-table">
                        <thead class="text-danger">
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>